@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-christmas {
  font-family: 'Mountains of Christmas', cursive;
}

.snowflake {
  color: #fff;
  position: fixed;
  top: -10px;
  z-index: 9999;
  user-select: none;
  cursor: default;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 5s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
}

@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}

@keyframes snowflakes-shake {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(40px);
  }
}

body {
  color: #333;
}

h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

